<div class="start_page">
	<div class="video-region">
  	{{ content.video }}
	</div>
	<div class="changes-region">
  	{{ content.changes }}
	</div>
	<div class="boomst-region">
  	{{ content.boomst }}
	</div>
	<div class="author-region">
  	{{ content.author }}
	</div>
	<div class="category-region">
  	{{ content.category }}
	</div>
	<div class="how_work-region">
  	{{ content.how_work }}
	</div>
	<div class="create-region">
  	{{ content.create }}
	</div>
</div>