<div class="discover-page">
	<div class="recommend-region">
  	{{ content.recommend }}
	</div>
	<div class="popular-region">
  	{{ content.popular }}
	</div>
	<div class="end-region">
  	{{ content.end }}
	</div>
	<div class="records-region">
  	{{ content.records }}
	</div>
	<div class="update-region">
  	{{ content.update }}
	</div>
	<div class="right-sidebar-region">
  	{{ content.right_sidebar }}
	</div>
</div>