{# HEADER #}
<nav id="top-nav">
  {{page.top_nav}}
</nav>
<div id="video-header">
  {{page.video_header}}
</div>

{# MAIN CONTENT #}
<div id="editors-choice" class="standard-p-block">
  {{page.editors_choice}}
</div>
<div id="day-recordsman" class="standard-p-block">
  {{page.day_recordsman}}
</div>
<div id="editors-choice">
  {{page.editors_choice}}
</div>
<div id="day-recordsman">
  {{page.day_recordsman}}
</div>
<div id="popular-awards">
  {{page.popular_awards}}
</div>
<div id="just-finished" class="standard-p-block">
  {{page.just_finished}}
</div>
<div id="popular-projects">
  {{page.popular_projects}}
</div>
<div id="make-step-1" class="make-step-block">
  {{page.make_step_1}}
</div>
<div id="just-started" class="standard-p-block">
  {{page.just_started}}
</div>
<div id="new-users">
  {{page.new_users}}
</div>
<div id="author-comment">
  {{page.author_comment}}
</div>
<div id="facebook-connect" class="connect">
  {{page.facebook_connect}}
</div>
<div id="final-projects">
  {{page.final_projects}}
</div>
<div id="project-sum-100" class="standard-p-block">
  {{page.project_sum_100}}
</div>
<div id="vk-connect" class="connect">
  {{page.vk_connect}}
</div>
<div id="project-sum-75" class="standard-p-block">
  {{page.project_sum_75}}
</div>
<div id="tmpopular_award">
  {{page.tmpopular_award}}
</div>
<div id="project-sum-50" class="standard-p-block">
  {{page.project_sum_50}}
</div>
<div id="limited-offer">
  {{page.limited_offer}}
</div>
<div id="make-step-2" class="make-step-block">
  {{page.make_step_2}}
</div>
<div id="project-updates">
  {{page.project_updates}}
</div>
<div id="project-sum-25" class="standard-p-block">
  {{page.project_sum_25}}
</div>

{# FOOTER #}
<footer>
  {{page.footer}}
</footer>

{# DEFAULT #}
{% if page.content %}
  {{ page.content }}
{% endif %}  

  

