<div class="discover_page">
	<div class="recommend-region">
  	{{ content.recommend }}
	</div>
	<div class="popular-region">
  	{{ content.popular }}
	</div>
	<div class="end-region">
  	{{ content.end }}
	</div>
	<div class="records-region">
  	{{ content.records }}
	</div>
	<div class="update-region">
  	{{ content.update }}
	</div>
	<div class="side_bar-region">
  	{{ content.side_bar }}
	</div>
</div>