<div class="main_page">
	<div class="first-region">
  	{{ content.first }}
	</div>
	<div class="second-region">
  	{{ content.second }}
	</div>
	<div class="three-region">
  	{{ content.three }}
	</div>
	<div class="four-region">
  	{{ content.four }}
	</div>
	<div class="five-region">
  	{{ content.five }}
	</div>
	<div class="six-region">
  	{{ content.six }}
	</div>
	<div class="seven-region">
  	{{ content.seven }}
	</div>
	<div class="eigth-region">
  	{{ content.eigth }}
	</div>
	<div class="nineth-region">
  	{{ content.nineth }}
	</div>
	<div class="tenth-region">
  	{{ content.tenth }}
	</div>
	<div class="eleven-region">
  	{{ content.eleven }}
	</div>
	<div class="twelw-region">
  	{{ content.twelw }}
	</div>
	<div class="thirteen-region">
  	{{ content.thirteen }}
	</div>
	<div class="fourteen-region">
  	{{ content.fourteen }}
	</div>
	<div class="fiveteen-region">
  	{{ content.fiveteen }}
	</div>
	<div class="sixteen-region">
  	{{ content.sixteen }}
	</div>
	<div class="seventeen-region">
  	{{ content.seventeen }}
	</div>
	<div class="eigteen-region">
  	{{ content.eigteen }}
	</div>
	<div class="ninteen-region">
  	{{ content.ninteen }}
	</div>
	<div class="twenty-region">
  	{{ content.twenty }}
	</div>
	<div class="twenty-one_region">
  	{{ content.twenty_one }}
	</div>
	<div class="twenty-two_region">
  	{{ content.twenty_two }}
	</div>
</div>